body, img, input, p, a{
	margin:0px;
	padding:0px;
	
}
.google{
	padding:90px;
	width:585px;
	border:1px solid balck;
	margin:auto;
	
}
.google img{
	height:135px;
	width:350px;
	margin:auto;
	display:block;
	margin-top:80px;
	margin-bottom:20px;
	
}
.google input[type="text"]{
	width:96%;
	padding:10px 0px;
	margin-bottom:20px;
	border=1px solid #B2B2B2;
}
.google input[type="text"]:hover{
border:1px solid blue;

}
.google input[type="text"]:focus{
	border=1px solid blue;
}
.button{
	margin:auto;
	overflow:hidden;
	display:block;
	
}
.button{
	margin-left:160px;
}
.google input[type="submit"]{
	padding:7px 15px; 
	background-color:#F5F5F5;
	margin: auto;
	text-align:center;
	color:#737373;
	font-size:13px;
	font-weight:bold;
	margin-bottom:20px;
	border:auto;
}
	
.google input[type="submit"]:hover{
	
	border:1px solid black;
	color:black;
	
}
.button p{
	margin-left:20px;
	font-size:14px;
	
}
.button p a{
	text-decoration:none;
	margin-left:5px;
}
.button p a:hover{
	text-decoration:underline;
}